@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.display-container {
    font-family: 'Michroma', sans-serif;
    
    background-color: var(--main);
    padding: 20px 30px;
}

.title-container {
    margin: 10px 0 0 0;
    height: 100px;
    width: 25em;
    display: flex;
    align-items: center;

    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.logo {
    width: 60px;
    height: 74px;
}

.title-text h1 {
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
}
.title-text h3 {
    color: var(--white);
    font-size: 24px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    max-width: 750px;
}

.car-image {
    margin: 20px 0;
    border: 2px solid white;
}

.description {
    padding: 15px;
    max-height: 150px;
    overflow: scroll;
    font-size: 14px;
    font-weight: normal;

    border: 2px solid white;
}