@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.display-container {
    font-family: 'Michroma', sans-serif;
    height: 100%;
    background-color: var(--main);
    padding: 20px 30px;
}

.title-container {
    margin: 10px 0 0 0;
    height: 100px;
    max-width: 25em;
    display: flex;
    align-items: center;

    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.logo {
    width: 60px;
    height: 74px;
}

.title-text h1 {
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
}
.title-text h3 {
    color: var(--white);
    font-size: 24px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: 23px 0;

    height: 100%;
    flex-shrink: 1;
}

.left-container {
    min-width: 20em;
    max-width: 60em;
    min-height: 10em;
    max-height: 50em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.car-image {
    image-rendering: optimizeQuality;
    border: 2px solid white;
}

.description {
    padding: 15px;
    max-height: 125px;
    overflow: scroll;
    font-size: 14px;
    font-weight: normal;

    border: 2px solid white;
}

.right-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: rgba(255, 255, 255, 0.171);
    min-width: 20em;
    max-width: 60em;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.car-info {
    background-color:rgba(255, 255, 255, 0.26);
    border: 2px solid black;
    min-height: 100px;
    height: 12rem;

    display: flex;
    justify-content: space-evenly;
    flex-shrink: 1;
}

.info-tile {
    background-color: black;
    border: 2px solid white;
    border-radius: 10rem;

    height: 10rem;
    width: 10rem;
}